<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/dee2885f19.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="/img/logo-mercado-liebre.svg" alt="logo del sitio" />
      </div>
      <div class="buscador">
        <form action="/result" method="GET">
          <input type="text" placeholder="Buscar..." />
          <button type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
      <nav class="nav-bar">
        <ul class="bar">
          <li class="browsing"><a href="#">Login</a></li>
          <li class="browsing"><a href="#">Carrito</a></li>
          <li class="browsing"><a href="#">Usuario</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <!-- Slideshow container -->
      <div class="slideshow-container">
        <!-- Full-width images -->
        <div class="slide-img">
          <img src="/img/img3_background_800.jpg"/>
        </div>
        <!-- <div class="text">Caption Two</div> -->
          <div class="slides">
           <div>
             <i class="fab fa-windows"></i>
           </div> 
            <div>Nombre </div>
            <span>$ 500</span>
            <button><i class="fas fa-cart-plus"></i> Comprar</button>
            <span class="porcentaje-descuento">-20%</span>
          </div>
            
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br />

      <!-- The dots/circles -->
      <div style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>

      <div class="titulo-categorias">
        <h3>Ofertas populares</h3>
      </div>
      <section class="ofertas-populares">
        <article>
          <img src="/img/img1.jpeg" alt="warhammer" />
          <p class="titulo-producto">Warhammer III</p>
          <div class="caja-precio">
            <p class="precio-producto">$800</p>
            <sup class="moneda">ARS</sup>
          </div>
          <div class="caja-rebaja">
            <p class="precio-rebaja">$1000</p>
            <sup class="moneda">ARS</sup>
            <span class="porcentaje-descuento">-20%</span>
          </div>
        </article>

        <article>
          <img src="/img/img1.jpeg" alt="warhammer" />
          <p class="titulo-producto">Warhammer III</p>
          <div class="caja-precio">
            <p class="precio-producto">$800</p>
            <sup class="moneda">ARS</sup>
          </div>
          <div class="caja-rebaja">
            <p class="precio-rebaja">$1000</p>
            <sup class="moneda">ARS</sup>
            <span class="porcentaje-descuento">-20%</span>
          </div>
        </article>

        <article>
          <img src="/img/img1.jpeg" alt="warhammer" />
          <p class="titulo-producto">Warhammer III</p>
          <div class="caja-precio">
            <p class="precio-producto">$800</p>
            <sup class="moneda">ARS</sup>
          </div>
          <div class="caja-rebaja">
            <p class="precio-rebaja">$1000</p>
            <sup class="moneda">ARS</sup>
            <span class="porcentaje-descuento">-20%</span>
          </div>
        </article>

        <article>
          <img src="/img/img1.jpeg" alt="warhammer" />
          <p class="titulo-producto">Warhammer III</p>
          <div class="caja-precio">
            <p class="precio-producto">$800</p>
            <sup class="moneda">ARS</sup>
          </div>
          <div class="caja-rebaja">
            <p class="precio-rebaja">$1000</p>
            <sup class="moneda">ARS</sup>
            <span class="porcentaje-descuento">-20%</span>
          </div>
        </article>

      <section class="los-mas-populares"></section>
    </main>
    <footer>
      <h6 class="contacts">
        <a href="" target="_blank"><i class="fab fa-instagram-square"></i></a>
      </h6>
      <h6 class="contacts">
        <a href="" target="_blank"><i class="fab fa-facebook-square"></i></a>
      </h6>
      <h6 class="contacts">
        <a href="" target="_blank"><i class="fab fa-whatsapp-square"></i></a>
      </h6>
      <h6 class="contacts">
        <a href="" target="_blank"><i class="fab fa-twitter-square"></i></a>
      </h6>
      <h6 class="contacts">
        <a href="" target="_blank"><i class="fas fa-envelope-square"></i></a>
      </h6>
      <h6 class="contacts"><a href="http://" target="_blank">About Us.</a></h6>
    </footer>
  </body>
</html>
