<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Titulo-Producto</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/15102d2fd3.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="logo">
      <a href="/"><h1>GREENGAMES</h1></a>
    </div>
    <div class="buscador">
      <form action="/result" method="GET">
        <input type="text" placeholder="Buscar..." />
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <nav class="nav-bar">
      <ul class="bar">
        <li class="browsing"><a href="/register"><i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
        <li class="browsing"><a href="/productcart"><i class="fa-solid fa-cart-shopping"></i></a></li>
        <li class="browsing"><a href="/login"><i class="fa-solid fa-user"></i></a></li>
      </ul>
    </nav>
    <nav class="sub-nav">
      <ul>
        <li><a href="/productdetail">Explorar</a></li>
        <li><a href="">Ofertas</a></li>
        <li><a href="">Categorias</a></li>
        <li><a href="">Ayuda y Soporte</a></li>
      </ul>
    </nav>
    <nav class="burguer">
      <ul>
        <li><a href=""><i class="fa-solid fa-bars"></i></a></i></li>
        <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="main-info">
      <h1>Nombre producto</h1>
      <h3 class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h3>
      <article class="DP-imagen">
        <img src="img/img1.jpeg" alt="imagen del producto">
      </article>
      <article class="mas-imagenes">
        <img src="img/img1.jpeg" alt=" Imagenes de Total War Warhammer">
        <img src="img/img1.jpeg" alt=" Imagenes de Total War Warhammer">
        <img src="img/img1.jpeg" alt=" Imagenes de Total War Warhammer">
        <img src="img/img1.jpeg" alt=" Imagenes de Total War Warhammer">
      </article>
      <article class="related">
        <h2>Titulos Relacionados...</h2>
        <img src="img/god-of-war-med.jpg" alt=" Imagenes de Total War Warhammer">
        <img src="img/dying-card.jpeg" alt=" Imagenes de Total War Warhammer">
        <img src="img/jedi-card.jpeg" alt=" Imagenes de Total War Warhammer">
      </article>
      <article class="precio-compra-agregar">
        <h2>Precio</h2>
        <i class="fa-solid fa-shop"></i>
        <button id="comprar" type="submit"><h3>comprar</h3></button>
        <i class="fas fa-cart-plus"></i>
        <button id="carrito" type="submit">Agregar al carrito</button>
      </article>
    </section>

    <section class="info">
      <article class="detailed-info">
        <h3>Descripción:</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi adipisci consectetur beatae ratione ipsam dolorem laboriosam est deserunt dolore praesentium odio soluta totam maiores voluptate nulla, delectus quod itaque laudantium natus qui quas voluptates, voluptatum, quam ipsum! Repellat deserunt enim debitis rerum? Omnis dicta accusamus alias sint natus itaque eaque maiores. Consequuntur dignissimos adipisci ipsam pariatur vel iste, libero tempora? Tempora incidunt hic reprehenderit, itaque quis consequatur numquam est? Obcaecati consequatur quaerat assumenda sapiente. Quibusdam officiis beatae numquam tempora et! Odit saepe fuga corrupti, animi culpa soluta qui blanditiis suscipit architecto tempore eius repellendus aliquam iste ab. Accusantium, sint maiores.
        </p>
        <div class="ver-mas">
          <button type="menu">Mostrar Mas.</button>
        </div>
      </article>
      <article class="detailed-info">
        <h3>Specs:</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi adipisci consectetur beatae ratione ipsam dolorem laboriosam est deserunt dolore praesentium odio soluta totam maiores voluptate nulla, delectus quod itaque laudantium natus qui quas voluptates, voluptatum, quam ipsum! Repellat deserunt enim debitis rerum? Omnis dicta accusamus alias sint natus itaque eaque maiores. Consequuntur dignissimos adipisci ipsam pariatur vel iste, libero tempora? Tempora incidunt hic reprehenderit, itaque quis consequatur numquam est? Obcaecati consequatur quaerat assumenda sapiente. Quibusdam officiis beatae numquam tempora et! Odit saepe fuga corrupti, animi culpa soluta qui blanditiis suscipit architecto tempore eius repellendus aliquam iste ab. Accusantium, sint maiores.
        </p>
        <div class="ver-mas">
          <button type="menu">Mostrar Mas.</button>
        </div>
      </article>
      <article class="detailed-info">
        <h3>Reseñas:</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi adipisci consectetur beatae ratione ipsam dolorem laboriosam est deserunt dolore praesentium odio soluta totam maiores voluptate nulla, delectus quod itaque laudantium natus qui quas voluptates, voluptatum, quam ipsum! Repellat deserunt enim debitis rerum? Omnis dicta accusamus alias sint natus itaque eaque maiores. Consequuntur dignissimos adipisci ipsam pariatur vel iste, libero tempora? Tempora incidunt hic reprehenderit, itaque quis consequatur numquam est? Obcaecati consequatur quaerat assumenda sapiente. Quibusdam officiis beatae numquam tempora et! Odit saepe fuga corrupti, animi culpa soluta qui blanditiis suscipit architecto tempore eius repellendus aliquam iste ab. Accusantium, sint maiores.
        </p>
        <div class="ver-mas">
          <button type="menu">Mostrar Mas.</button>
        </div>
      </article>
    </section>
  </main>
  <footer>
    <h6 class="contacts">
      <a href="" target="_blank"><i class="fab fa-instagram-square"></i></a>
    </h6>
    <h6 class="contacts">
      <a href="" target="_blank"><i class="fab fa-facebook-square"></i></a>
    </h6>
    <h6 class="contacts">
      <a href="" target="_blank"><i class="fab fa-whatsapp-square"></i></a>
    </h6>
    <h6 class="contacts">
      <a href="" target="_blank"><i class="fab fa-twitter-square"></i></a>
    </h6>
    <h6 class="contacts">
      <a href="" target="_blank"><i class="fas fa-envelope-square"></i></a>
    </h6>
    <h6 class="contacts"><a href="http://" target="_blank">About Us.</a></h6>
  </footer>
</body>
</html>



