<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Titulo-Producto</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/dee2885f19.js" crossorigin="anonymous"></script>

</head>
<body>
  <header>
    <div class="logo">
      <a href="/"><img src="/img/logo.jpg" alt="logo del sitio"></a>
    </div>
    <div class="buscador">
      <form action="/result" method="GET">
        <input type="text" placeholder="Buscar..." />
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <nav class="nav-bar">
      <ul class="bar">
        <li class="browsing"><a href="/login">Login</a></li>
        <li class="browsing"><a href="/productcart"><i class="fa-solid fa-cart-shopping"></i></a></li>
        <li class="browsing"><a href="#">Usuario</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="main-info">
      <h1>Nombre producto</h1>
      <h3 class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h3>
      <article class="DP-imagen">
        <img src="img/img1.jpeg" alt="imagen del producto">
      </article>
      <article class="mas-imagenes">
        <img src="img/img1.jpeg" alt=" Imagenes de Total War Warhammer">
        <img src="img/img1.jpeg" alt=" Imagenes de Total War Warhammer">
        <img src="img/img1.jpeg" alt=" Imagenes de Total War Warhammer">
        <img src="img/img1.jpeg" alt=" Imagenes de Total War Warhammer">
      </article>
    </section>
    <section class="buy-cart">
      <article class="precio-compra-agregar">
        <h2>Precio</h2>
        <button id="comprar" type="submit"><h3>comprar</h3></button>
        <button id="carrito" type="submit"><i class="fas fa-cart-plus"></i></button>
      </article>
      <article class="related">
        <!--Slides-->
      </article>
    </section>
    <section class="info">
      <article class="detailed-info">
        <h3>Descripcion1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi adipisci consectetur beatae ratione ipsam dolorem laboriosam est deserunt dolore praesentium odio soluta totam maiores voluptate nulla, delectus quod itaque laudantium natus qui quas voluptates, voluptatum, quam ipsum! Repellat deserunt enim debitis rerum? Omnis dicta accusamus alias sint natus itaque eaque maiores. Consequuntur dignissimos adipisci ipsam pariatur vel iste, libero tempora? Tempora incidunt hic reprehenderit, itaque quis consequatur numquam est? Obcaecati consequatur quaerat assumenda sapiente. Quibusdam officiis beatae numquam tempora et! Odit saepe fuga corrupti, animi culpa soluta qui blanditiis suscipit architecto tempore eius repellendus aliquam iste ab. Accusantium, sint maiores.
        </p>
        <div class="ver-mas">
          <button type="menu">Mostrar Mas.</button>
        </div>
      </article>
      <article class="detailed-info">
        <h3>Descripcion2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi adipisci consectetur beatae ratione ipsam dolorem laboriosam est deserunt dolore praesentium odio soluta totam maiores voluptate nulla, delectus quod itaque laudantium natus qui quas voluptates, voluptatum, quam ipsum! Repellat deserunt enim debitis rerum? Omnis dicta accusamus alias sint natus itaque eaque maiores. Consequuntur dignissimos adipisci ipsam pariatur vel iste, libero tempora? Tempora incidunt hic reprehenderit, itaque quis consequatur numquam est? Obcaecati consequatur quaerat assumenda sapiente. Quibusdam officiis beatae numquam tempora et! Odit saepe fuga corrupti, animi culpa soluta qui blanditiis suscipit architecto tempore eius repellendus aliquam iste ab. Accusantium, sint maiores.
        </p>
        <div class="ver-mas">
          <button type="menu">Mostrar Mas.</button>
        </div>
      </article>
      <article class="detailed-info">
        <h3>Descripcion3</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi adipisci consectetur beatae ratione ipsam dolorem laboriosam est deserunt dolore praesentium odio soluta totam maiores voluptate nulla, delectus quod itaque laudantium natus qui quas voluptates, voluptatum, quam ipsum! Repellat deserunt enim debitis rerum? Omnis dicta accusamus alias sint natus itaque eaque maiores. Consequuntur dignissimos adipisci ipsam pariatur vel iste, libero tempora? Tempora incidunt hic reprehenderit, itaque quis consequatur numquam est? Obcaecati consequatur quaerat assumenda sapiente. Quibusdam officiis beatae numquam tempora et! Odit saepe fuga corrupti, animi culpa soluta qui blanditiis suscipit architecto tempore eius repellendus aliquam iste ab. Accusantium, sint maiores.
        </p>
        <div class="ver-mas">
          <button type="menu">Mostrar Mas.</button>
        </div>
      </article>
    </section>
  </main>
  <footer>
    <h6 class="contacts">
      <a href="" target="_blank"><i class="fab fa-instagram-square"></i></a>
    </h6>
    <h6 class="contacts">
      <a href="" target="_blank"><i class="fab fa-facebook-square"></i></a>
    </h6>
    <h6 class="contacts">
      <a href="" target="_blank"><i class="fab fa-whatsapp-square"></i></a>
    </h6>
    <h6 class="contacts">
      <a href="" target="_blank"><i class="fab fa-twitter-square"></i></a>
    </h6>
    <h6 class="contacts">
      <a href="" target="_blank"><i class="fas fa-envelope-square"></i></a>
    </h6>
    <h6 class="contacts"><a href="http://" target="_blank">About Us.</a></h6>
  </footer>
</body>
</html>



