<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tu Carro</title>
  <link rel="stylesheet" href="/css/index.css">

</head>
<body class="carrito-body">
  <header>
    <div class="logo">
      <img src="/img/logo-mercado-liebre.svg" alt="logo del sitio">
    </div>
    <div class="buscador">
      <input type="text" placeholder="Buscar...">
    </div>
    <nav class="nav-bar">
      <ul class="bar">
        <li class="browsing"><a href="#">Login</a></li>
        <li class="browsing"><a href="#">Carrito</a></li>
        <li class="browsing"><a href="#">Usuario</a></li>
      </ul>
    </nav>
  </header>
  <main class='product-cart'>
    <h1 class='tu-carrito'>
      Tu carrito
    </h1>
    <section class='lista-de-compra'>
      <div class='lista-de-productos'>
        <article class='producto-unidad'>
          <div class='img-producto'>
            <img src='img/img1.jpeg' alt='imagen de producto' class='imagen-de-producto'>
            <div class="bloque-medio">
              <span>Nombre de producto</span>
              <div class="contador">
                <button class="boton-contador">-</button>
                <div class="contador-numero">
                  0
                </div>
                <button class="boton-contador">+</button>
              </div>
            </div>
          </div>
            <div class='descripcion-precio'>
              <img src='img/img-trash.svg' alt='eliminar' class='trash'>
              <p>Precio $0.333333</p>
            </div>
        </article>
        <article class='producto-unidad'>
          <div class='img-producto'>
            <img src='img/img1.jpeg' alt='imagen de producto' class='imagen-de-producto'>
            <div class="bloque-medio">
              <span>Nombre de producto</span>
              <div class="contador">
                <button class="boton-contador">-</button>
                <div class="contador-numero">
                  0
                </div>
                <button class="boton-contador">+</button>
              </div>
            </div>
          </div>
            <div class='descripcion-precio'>
              <img src='img/img-trash.svg' alt='eliminar' class='trash'>
              <p>Precio $0.333333</p>
            </div>
        </article>
        <article class='producto-unidad'>
          <div class='img-producto'>
            <img src='img/img1.jpeg' alt='imagen de producto' class='imagen-de-producto'>
            <div class="bloque-medio">
              <span>Nombre de producto</span>
              <div class="contador">
                <button class="boton-contador">-</button>
                <div class="contador-numero">
                  0
                </div>
                <button class="boton-contador">+</button>
              </div>
            </div>
          </div>
            <div class='descripcion-precio'>
              <img src='img/img-trash.svg' alt='eliminar' class='trash'>
              <p>Precio $0.333333</p>
            </div>
        </article>
      </div>
    </section>
    <article class="checkout">
      <div class="contenido-checkout">
        <div class="titulo-resumen">
          <span>Resumen de compra</span>
        </div>
        <div class="subtotal-resumen">
          <p>Subtotal</p>
          <p>$0.999999</p>
        </div>
        <div class="total-resumen">
          <p>Total</p>
          <p>$0.888889</p>
        </div>
        <div class="boton-resumen">
        <button class="boton-compra">COMPRAR</button>
        <button class="boton-sigue">SEGUIR COMPRANDO</button>
        </div>
      </div>
    </article>
    
  </main>
  <footer>
    <h6 class="contacts">Instagram</h6>
    <h6 class="contacts">Facebook</h6>
    <h6 class="contacts">Whatsapp</h6>
    <h6 class="contacts">Twitter</h6>
    <h6 class="contacts">Gmail</h6>
    <h6 class="contacts">About Us.</h6>
  </footer>
</body>
</html>