<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Titulo-Producto</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/15102d2fd3.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="logo">
      <a href="/"><h1>GREENGAMES</h1></a>
    </div>
    <div class="buscador">
      <form action="/result" method="GET">
        <input type="text" placeholder="Buscar..." />
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <nav class="nav-bar">
      <ul class="bar">
        <li class="browsing"><a href="/register"><i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
        <li class="browsing"><a href="/productcart"><i class="fa-solid fa-cart-shopping"></i></a></li>
        <li class="browsing"><a href="/login"><i class="fa-solid fa-user"></i></a></li>
      </ul>
    </nav>
    <nav class="sub-nav">
      <ul>
        <li><a href="/productdetail">Explorar</a></li>
        <li><a href="">Ofertas</a></li>
        <li><a href="">Categorias</a></li>
        <li><a href="">Ayuda y Soporte</a></li>
      </ul>
    </nav>
    <nav class="burguer">
      <ul>
        <li><a href=""><i class="fa-solid fa-bars"></i></a></i></li>
        <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
      </ul>
    </nav>
  </header>
  <main class='product-cart'>
    <h1 class='tu-carrito'>
      Tu carrito
    </h1>
    <div class="bloque">
    <section class="bloque-de-productos">
      <div class='lista-de-productos'>
        <article class='producto-unidad'>
          <div class='img-producto'>
            <img src='img/img1.jpeg' alt='imagen de producto' class='imagen-de-producto'>
            <div class="bloque-medio">
              <span>Nombre de producto</span>
              <div class="contador">
                <button class="boton-contador">-</button>
                <div class="contador-numero">
                  0
                </div>
                <button class="boton-contador">+</button>
              </div>
            </div>
          </div>
            <div class='descripcion-precio'>
              <img src='img/img-trash.svg' alt='eliminar' class='trash'>
              <p>Precio $0.333333</p>
            </div>
        </article>
        <article class='producto-unidad'>
          <div class='img-producto'>
            <img src='img/img2.jpg' alt='imagen de producto' class='imagen-de-producto'>
            <div class="bloque-medio">
              <span>Nombre de producto</span>
              <div class="contador">
                <button class="boton-contador">-</button>
                <div class="contador-numero">
                  0
                </div>
                <button class="boton-contador">+</button>
              </div>
            </div>
          </div>
            <div class='descripcion-precio'>
              <img src='img/img-trash.svg' alt='eliminar' class='trash'>
              <p>Precio $0.333333</p>
            </div>
        </article>
        <article class='producto-unidad'>
          <div class='img-producto'>
            <img src='img/img1.jpeg' alt='imagen de producto' class='imagen-de-producto'>
            <div class="bloque-medio">
              <span>Nombre de producto</span>
              <div class="contador">
                <button class="boton-contador">-</button>
                <div class="contador-numero">
                  0
                </div>
                <button class="boton-contador">+</button>
              </div>
            </div>
          </div>
            <div class='descripcion-precio'>
              <img src='img/img-trash.svg' alt='eliminar' class='trash'>
              <p>Precio $0.333333</p>
            </div>
        </article>
      </div>
    </section>
    <article class="checkout">
      <div class="contenido-checkout">
        <div class="titulo-resumen">
          <span>Resumen de compra</span>
        </div>
        <div class="subtotal-resumen">
          <p>Subtotal</p>
          <p>$0.999999</p>
        </div>
        <div class="total-resumen">
          <p>Total</p>
          <p>$0.888889</p>
        </div>
        <div class="boton-resumen">
        <button class="boton-compra">COMPRAR</button>
        <button class="boton-sigue">SEGUIR COMPRANDO</button>
        </div>
      </div>
    </div>
    </article>
    
  </main>
  <footer>
    <h6 class="contacts">
      <a href="" target="_blank"><i class="fab fa-instagram-square"></i></a>
    </h6>
    <h6 class="contacts">
      <a href="" target="_blank"><i class="fab fa-facebook-square"></i></a>
    </h6>
    <h6 class="contacts">
      <a href="" target="_blank"><i class="fab fa-whatsapp-square"></i></a>
    </h6>
    <h6 class="contacts">
      <a href="" target="_blank"><i class="fab fa-twitter-square"></i></a>
    </h6>
    <h6 class="contacts">
      <a href="" target="_blank"><i class="fas fa-envelope-square"></i></a>
    </h6>
    <h6 class="contacts"><a href="http://" target="_blank">About Us.</a></h6>
  </footer>
</body> 
</html>