<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Titulo-Producto</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/dee2885f19.js" crossorigin="anonymous"></script>

</head>
<body>
  <header>
    <div class="logo">
      <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="logo del sitio"></a>
    </div>
    <div class="buscador">
      <input type="text" placeholder="Buscar...">
    </div>
    <nav class="nav-bar">
      <ul class="bar">
        <li class="browsing"><a href="/login">Login</a></li>
        <li class="browsing"><a href="/productcart">Carrito</a></li>
        <li class="browsing"><a href="#">Usuario</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="main-info">
      <h1>Nombre producto</h1>
      <h3 class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h3>
      <article class="DP-imagen">
        <img src="img/img1.jpeg" alt="imagen del producto">
      </article>
      <article class="mas-imagenes">
        <img src="img/img1.jpeg" alt=" Imagenes de Total War Warhammer">
        <img src="img/img1.jpeg" alt=" Imagenes de Total War Warhammer">
        <img src="img/img1.jpeg" alt=" Imagenes de Total War Warhammer">
        <img src="img/img1.jpeg" alt=" Imagenes de Total War Warhammer">
      </article>
    </section>
    <section class="buy-cart">
      <article class="precio-compra-agregar">
        <h2>Precio</h2>
        <button id="comprar" type="submit"><h3>comprar</h3></button>
        <button id="carrito" type="submit"><i class="fas fa-cart-plus"></i></button>
      </article>
      <article class="related">
        <!--Slides-->
      </article>
    </section>
    <section class="info">
      <article class="detailed-info">
        <h3>Descripcion1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum consectetur tempore incidunt magni, ipsum eos?</p>
        <button type="menu">Mostrar Mas.</button>
      </article>
      <article class="detailed-info">
        <h3>Descripcion2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum consectetur tempore incidunt magni, ipsum eos?</p>
        <button type="menu">Mostrar Mas.</button>
      </article>
      <article class="detailed-info">
        <h3>Descripcion3</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum consectetur tempore incidunt magni, ipsum eos?</p>
        <button type="menu">Mostrar Mas.</button>
      </article>
    </section>
  </main>
  <footer>
    <h6 class="contacts">Instagram</h6>
    <h6 class="contacts">Facebook</h6>
    <h6 class="contacts">Whatsapp</h6>
    <h6 class="contacts">Twitter</h6>
    <h6 class="contacts">Gmail</h6>
    <h6 class="contacts">About Us.</h6>
  </footer>
</body>
</html>



