@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


#page-title{
	text-align: center;
	margin: 20px 0px;
	font-size: 50px;
	color: #fff;
}

/* SLIDER ==============================*/

.flexslider{
	width: 95%;
	max-width: 800px;
	margin: 0px auto 50px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.slides,
.slides li,
.slides li img{
	width: 100%;
}

.slides li{
	margin-bottom: -5px;
}

/* PAGINACION =======================*/

.flex-control-nav.flex-control-paging{
	width: 120px;
	padding: 20px 0px;
	background: #03C959;
	border: 2px solid rgba(255,255,255,.3);
	border-radius: 10px;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.80);

	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;

	list-style: none;

	position: absolute;
	bottom: -42px;
	z-index: 3;
}

.flex-control-nav li{
	display: inline-block;
	margin: 0 5px;
}

.flex-control-nav li a{
	display: block;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 50%;
	text-indent: -9999px;
	box-shadow: inset 0px -3px 2px 0px rgba(0,0,0,0.55);
}

.flex-control-nav li a.flex-active{
	background: #353535;
}

/* NAVEGACION ===============*/
.flex-direction-nav{
	z-index: 3;
	list-style: none;
}

.flex-direction-nav a{
	width: 60px;
	height: 60px;
	background: #03C959;
	border: 2px solid rgba(255,255,255,.3);
	border-radius: 5px;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.80);

	display: flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;
	opacity: 0;

	position: absolute;
	top: 50%;
	margin-top: -30px;

	transition: all 0.3s ease-in-out;
}

.flex-direction-nav a::before{
	content: "\f104";
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 50px;
    color: #fff;
}

.flex-direction-nav a.flex-next::before{
	content: "\f105";
}

.flex-direction-nav .flex-prev{
	left: 0px;
}

.flex-direction-nav .flex-next{
	right: 0px;
}

.flexslider:hover .flex-direction-nav .flex-prev{
	opacity: 1;
	left: 15px;
}

.flexslider:hover .flex-direction-nav .flex-next{
	opacity: 1;
	right: 15px;
}

/* CAPTION ==================*/
.caption{
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	position: absolute;
	top: 0;
	z-index: 2;
}

/* RESPONSIVE ========== */

@media screen and (max-width: 770px){
	.flex-direction-nav a{
		opacity: 1;
	}

	.flex-direction-nav .flex-prev{
		left: 15px;
	}

	.flex-direction-nav .flex-next{
		right: 15px;
	}

	.caption h2{
		font-size: 50px;
	}

}

@media screen and (max-width: 600px){
	.caption h2{
		font-size: 40px;
	}

	.flexslider{
		width: 100%;
		border-radius: 0px;
		border: none;
	}

	.slides li{
		overflow: hidden;
	}

	.slides li img{
		width: 600px;
	}

	.flex-direction-nav a{
		top: auto;
	}
}

@media screen and (max-width: 450px){
	.slides li img{
		transform: translateX(-90px);
	}

	#page-title{
		font-size: 40px;
	}
}