* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background-color:  rgb(18, 18, 18);
  color: #F5F5F5;
}

/*HEADER*/

header {
  display: flex;
  align-items: center;
  border-radius: 2px;
  background-color: #2a2a2a;
  padding: 15px 0px;

}
.logo {
  width: 25%;
  display: none;
  justify-content: center;
}
.logo a{
  text-decoration: none;
  color: #03C959;
}
.nav-bar {
  width: 30%;
  display: none;
  justify-content: flex-end;
}
.bar {
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.bar li {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.bar li a {
  text-decoration: none;
  color: white;
}
.bar li a:hover{
  transition: all 600ms;
  color: #03C959;
  transform: rotate(360deg);
}
.sub-nav{
  display: none;
  width: 100%;
  justify-content: center;
}
.sub-nav ul{
 display: flex;
 list-style-type: none;
  width: 100%;
  justify-content: space-around;
}
.sub-nav ul li{
  margin: 15px;
}
.sub-nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.sub-nav ul li a:hover{
  transition: all 600ms;
  color: #03C959;
}
.buscador {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.buscador form {
  display: flex;
}
.buscador input {
  width: 90%;
  height: 4vh;
  border: none;
  background-color: #444;
  font-size: 24px;
}
.buscador input:focus{
  outline: none;
  color: #f5f5f5;
}

.buscador button {
  background-color:rgba(0, 0, 0, 0);
  border: none;
  color:  #777;
  text-align: center;
  text-decoration: none;
  margin-left: -30px;
  margin-top: 2px;
  font-size: 20px;
}
.buscador button:hover{
  transition: all 600ms;
  color: #03C959;
}
.contacts a {
  font-weight: bold;
  text-decoration: none;
  color: #916bbf;
}
.contacts a i {
  font-size: large;
}
::placeholder {
  color: #777;
}

.buscador input:hover{
  cursor: default;
}
.burguer{
  display: flex;
}
.burguer ul{
  list-style: none;
  display: flex;
  margin-right: 20px;
}
.burguer ul li{
  margin: 0px 10px;
}
.burguer ul li a{
  text-decoration: none;
  color: #FFFF;
}
.burguer ul li a:hover{
  color: #03C959;
}

@media (min-width: 1024px) {
  .nav-bar {
    display: flex;
    width: 20%;
  }
  .logo {
    display: flex;
  }
  .buscador {
    width: 55%;
    justify-content: center;
  }
  .sub-nav{
    display: flex;
    padding: 0;
  }
  footer{
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  header{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .buscador input {
    width: 40vw;
    padding: 15px;
    border-radius: 25px ;
  }
  .burguer{
    display: none;
  }
}

/*FOOTER*/

footer {
  width: 100%;
  justify-content: space-around;
  background-color: #2a2a2a;
  border-radius: 2px;
  padding-top: 5px;
}
.contacts {
  font-weight: 100;
  padding: 15px 0px;
  font-size: 12px;
  color: whitesmoke;
  text-align: center;
}
.contacts a {
  font-weight: bold;
  text-decoration: none;
  color: #717171;
}
.contacts a i:hover, .contacts a:hover{
  transition: all 600ms;
  color: #03C959;
}

.contacts a i {
  font-size: large;
  color:#717171;
}

/*HOME*/

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 0 5% 0% 5%;
  display: flex;
  justify-content: center;
  /* width: 80vh; */
  
 
}
.slideshow-container .mySlides fade {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  bottom: 8px;
  text-align: center;
  padding: 10px 11px;
  font-size: x-large;
  color: white;
  background-color: black;
  opacity: 0.3;
  height: 25%;

}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

h2, h3 {
  color: white;
}
.titulo-categorias p {
  color: white
}
.slide-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 8px;
  text-align: center;
  padding: 10px 11px;
  font-size: x-large;
  color: white;

  
  
}

.slide-right {
  display: flex;
  color: white;
  flex-wrap: nowrap;
  padding: 3px;
  align-items: center;
}


.slide-left {
  display: flex;
  flex-direction: column;
  color: white;
  flex-wrap: nowrap;
  padding: 3px;
  align-items: flex-start;
}

.slide-left i {
  font-size: small;
  padding-bottom: 5px;
  
}

.slideshow-container button{
  background-color: greenyellow;
  padding: 8px ;
}

.slide-img {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  vertical-align: middle;  
  justify-content: center;
  align-items: center;
}
.slide-img img{
  width: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}



/* The dots/bullets/indicators */
.dot {
  display: none;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}


.dot:hover {
  background-color: #717171;
}



/* Titulo categorias */
.titulo-categorias, .featured-product h2 {
  display: flex;
  margin: 0 5% 0 5%;
  padding: 5px;
  justify-content: space-between;
  align-items: flex-end;
}
.titulo-categorias h4 {
  width: 20%;
}
.titulo-categorias p {
  cursor: pointer;
}


/* BODY */

/* Carousell products small*/


.ofertas-populares {
  display: flex;
  margin: 0 5% 10% 5%;
  flex-wrap: wrap;
  justify-content: center;

}

.box-card {
  display: flex;
}

.box-card .card-shop {
  display: flex;
  text-align: right;
}

.next-cat {
  right: 0;
  border-radius: 3px 0 0 3px;
  /* display: none; */
}

.prev-cat {
  left: 0;
  border-radius: 3px 0 0 3px;
  /* display: none; */
}

.prev-cat,
.next-cat {
  display: none;
  cursor: pointer;
  position: absolute;
  /* top: 50%; */
  width: auto;
  margin-top: 10%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev-cat:hover,
.next-cat:hover {
  background-color: #717171;
}
.ofertas-populares img {
  width: 100%;
}

.ofertas-populares article {
  margin: 5px;
  padding: 2px;
  width: 60%;
  flex-wrap: wrap;
  background-color: #2a2a2a;
  cursor: pointer;
  
  
}
.ofertas-populares article:hover {
  transition: all 300ms;
  box-shadow: rgba(3, 201, 89, 0.4) 0px 5px, rgba(3, 201, 89, 0.3) 0px 10px, rgba(3, 201, 89, 0.2) 0px 15px, rgba(3, 201, 89, 0.1) 0px 20px, rgba(3, 201, 89, 0.05) 0px 25px;
}

.precio-producto {
  font-weight: bold;
  font-size: larger;
}

.precio-rebaja {
  text-decoration: line-through;
  font-size: small;
}

.porcentaje-descuento {
  display: table-cell;
  background-color: #03C959;
  color: white;
  padding: 2px;
}
.caja-precio {
  display: flex;
  font-size: small;
  text-align: left;
}

.moneda {
  margin-left: 2px;
  margin-right: 4px;
}

.caja-rebaja {
  display: flex;
  font-size: smaller;
  text-align: left;
}
.caja-rebaja sup {
  font-size: xx-small;
}


/* FEATURED PRODUCT */

.featured-box {
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
  margin-bottom: 10%;
  background-color: #2a2a2a;
  justify-content: center;
}
.featured-box img {
  width: 100%;
}

.featured-text {
  width: 100%;
  margin: 10px;
  padding: 5px;
  color: white;
}
.featured-text button{
  background-color: greenyellow;
  padding: 8px ;
}

.featured-text {
  font-size: medium;
}


/* .featured-img {
  width: 50%;
} */

/* Register */

.general-container {
  text-align: center;
  color: #FFF;
}

.register {
  display: inline-block;
  flex-direction: column;
  width: 80vw;
  margin: 5% 10% 5% 10%;
  border: solid 1px #03C959;
  border-radius: 15px;
  max-width: 500px;
}

i.fas.fa-user-circle {
  font-size: 50px;
  color: #03C959;
  text-align: center;
  padding: 10px;
}

.texto-de-registro {
  text-align: center;
  font-size: 20px;
  padding: 5px;
}

.signup-buttons-container {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 25% 5px 25%;
  color: #03C959;
  padding: 5px;
}

i.fab.fa-google {
  display: block;
}

i.fab.fa-facebook {
  display: block;
}

i.fab.fa-apple {
  display: block;
}

.signup-buttons-container i:hover{
  transition: all 600ms;
  color: #fff;
  cursor: pointer;
}

.registro-manual {
  text-align: center;
  padding: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 5% 10% 5% 10%;
  font-size: 15px;
  font-weight: 600;
}

.register-form input#submit:hover {
  cursor: pointer;
  background-color: #03C959;
}

#username, #email, #password, #confirm-password {
  border-radius: 6px;
  padding: 6px;
  width: 80%;
  border: solid 1px #03C959;
  margin: 6px 0px 6px 0px;
}

#submit {
  display: flex;
  width: 50%;
  padding: 10px;
  margin: 5% 25%;
  justify-content: center;
  background-color: #777;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  transition-duration: 450ms;
  border: none;
}

/* Media queries */

@media (min-width: 768px) {
  .dot {
    display: inline-block;
  }
  .ofertas-populares{
    flex-wrap: nowrap;
  }
  .ofertas-populares article {
    width: 100%;
  }
  .prev-cat .next-cat {
    display: flex ;
  }
  
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Carrito de compras */


main.product-cart{
  color: #F5F5F5;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
  min-height: 100vh;
}

.tu-carrito{
  padding: 18px 0;
}

.lista-de-productos{
  margin-bottom: 20px;
}

.producto-unidad {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  padding: 10px 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: solid 1px #F5F5F5;
}

.bloque-medio{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.descripcion-precio{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  align-content: stretch;
  width: 50px;
}

.contador{
  display: flex;
  padding-top: 30%;
}

.boton-contador{
  background-color: #777;
  color: white;
  padding: 1px 5px;
  font-size: 16px;
  cursor: pointer;
  border: solid 0.5px;
  width: 20px;
  margin: 0;
}

.contador-numero{
    background-color: #2a2a2a;
    font-size: 18px;
    color: white;
    padding: 0px 5px;
    border: solid 0.5px;
}

.trash a{
  width: 20px;
  fill: #FFFF;
  cursor: pointer;
}

.img-producto{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.imagen-de-producto{
  max-width: 120px;
  max-height: 100px;
  margin-right: 20px;
}

.checkout{
  padding: 10px 10px;;
  background-color: #2a2a2a;
  border: solid 1px #E5E5E5;
  border-radius: 5px;
  margin: 50px 0;

}


.titulo-resumen{
  padding-bottom: 20px;
  font-size: 18px;
}

.total-resumen{
  margin-bottom: 20px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px;
}

.subtotal-resumen{
  margin-bottom: 20px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px;
}

.boton-resumen{
  display: flex;
  flex-direction: column;
  padding-top: 15px;

}

.boton-compra{
  background-color: #777;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  border: solid 1px #E5E5E5;
  height: 25px;
}

.boton-compra:hover{
  background-color: #03C959;
  transition-duration: 300ms;
}

.boton-sigue{
  color:white;
  margin-bottom : 15px;
  background-color: #777;
  cursor: pointer;
  border-radius: 10px;
  border: solid 1px #E5E5E5;
  height: 25px;
}

/*TABLETS*/

@media (min-width: 481px) {
.boton-sigue:hover{
    background-color:#03C959;
    transition-duration: 300ms;
  }

  colores{
    color:#001233;
    color: #002466;
    color:#1C0C5B;
    color:#3d2c8d;
    color:#9D4EDD;
  }
}

@media (min-width: 520px) {

  .bloque{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .bloque-de-productos{
    flex-grow: 0.60;
  }

  .checkout{
    flex-grow: 0.25;
    margin: 0;
  }


  
}



/*DESKTOP*/
@media (min-width:769px){

  .prev-cat, .next-cat {
    display: flex;
  }
  .featured-box {
    flex-wrap: nowrap;
  }
  .featured-text {
    width: 50%;
  }

  .bloque-de-productos{
    flex-grow: 0.65;
  }

  .checkout{
    flex-grow: 0.30;
  } 
}

/*productDetail*/

/*Section 1*/

.main-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-info h1{
  width: 100%;
  margin-top: 10px;
  color: #FFFF;
}
.rating{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 10px 0px;
  color: #717171;
}
.rating i:hover{
  transition: all 45ms;
  color: goldenrod;
}
.DP-imagen{
  display: flex;
  justify-content: center;
}
.DP-imagen img{
  width: 70%;
  margin: 10px 0px;
  border-radius: 4px;
}
.DP-imagen img:hover, .mas-imagenes img:hover, .related img:hover{
  transition: all 450ms;
  border: solid 5px transparent ;
  
}
.mas-imagenes{
  width: 100%;
  display: flex;
  justify-content: center;
}
.mas-imagenes img, .related img{
  width: 20%;
  margin: 10px 3px;
  border-radius: 4px;
}
/*section 2*/

.precio-compra-agregar{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 10px 0px;
}
.precio-compra-agregar i{
margin-top: 15px;
color: #FFFF;
}
.precio-compra-agregar h2, button{
  margin: 5px 5px;
}
.precio-compra-agregar h2{
  color: #FFFF;
}

.precio-compra-agregar #carrito{
  width: 15%;
  border: none;
  border-radius: 50px;
  background-color: #03C959;
  border: 1px solid #FFFF;
  color: #f2f2f2;
}
.precio-compra-agregar #comprar{
  width: 25%;
  border: 1px solid #FFFF;
  border-radius: 50px;
  color: #f2f2f2;
  background-color: #03C959;
}
.precio-compra-agregar #carrito:hover,#comprar:hover{
 background-color: #AFFC41;
 transition: all 450ms;
}
/*section 3*/

.detailed-info{ 
  width: 90vw;
  margin: 20px 15px;
}
.detailed-info p{
  text-align: justify;
  color: #FFFF;
}

.detailed-info h3{
  background-color: #03C959;
  padding: 10px;
  text-align: left;
  color: #FFFF;
}
.ver-mas{
  display: flex;
  justify-content: center;
}
.ver-mas button{
  border: 1px solid #f2f2f2;
}
.related{
  order: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0px;
}
.related h2{
  width: 100%;
  margin: 20px 0px;
  font-size: 25px;
}

@media(min-width: 1024px){
  .detailed-info{
    width: 96vw;
  }
  .main-info{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .DP-imagen{
    width: 65%;
  }
  .mas-imagenes{
    order: 1;
  }
  .precio-compra-agregar{
    background-color: #2a2a2a;
    order: 0;
    width: 30%;
    flex-wrap: wrap;
    
    margin: 10px 5px;
    padding: 25px;
    border-radius: 25px;
  }
  .precio-compra-agregar h2{
    width: 100%;
    height: 3vh;
  }
  .precio-compra-agregar button#comprar, .precio-compra-agregar button#carrito {
      width: 100%;
  }
  .info{
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 100px;
  }
  .detailed-info{
    width: 85vw;

  }
  .detailed-info h3{
    text-align: left;
    padding: 10px;
  }
  .related{
    order: 2;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    opacity: 0.8;
  }
  .related h2{
    width: 100%;
    margin: 20px 0px;
    font-size: 25px;
  }
}
