* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
<<<<<<< HEAD


=======
>>>>>>> e305976ac251fc6093a4859b6aa980ec31dcf196
/*HEADER*/

header {
  display: flex;
  align-items: center;
  height: 10vh;
  border-bottom: 4px solid #916bbf;
  border-radius: 2px;
  background-color: #3d2c8d;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.logo {
  width: 25%;
  display: none;
  margin-left: 10px;
  justify-content: center;
}

.logo img {
  width: 50%;
  background-color: #916bbf;
  padding: 5px;
  border-radius: 5px;
}

.nav-bar {
  width: 41%;
  display: none;
  justify-content: flex-end;
}

.bar {
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.bar li {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.bar li a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.buscador {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buscador form {
  display: flex;
}

.buscador input {
  width: 90vw;
  height: 4vh;
  border: none;
  border-radius: 50px;
}

.buscador button {
  background-color: #916bbf; /* Green */
  border: none;
  color: #1c0c5b;
  text-align: center;
  padding: 0px 3px;
  text-decoration: none;
  margin-left: 5px;
  font-size: 16px;
  border-radius: 50px;
}

.contacts a {
  font-weight: bold;
  text-decoration: none;
  color: #916bbf;
}

.contacts a i {
  font-size: large;
}

::placeholder {
  color: #3d2c8d;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*FOOTER*/

footer {
  width: 100%;
  justify-content: space-around;
  background-color: #3d2c8d;
  border-top: 4px #916bbf;
  border-radius: 2px;
  padding-top: 5px;
}

.contacts {
  font-weight: 100;
  margin-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: whitesmoke;
  text-align: center;
}

/*HOME
-------------------------------------------------
Slideshow container */

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 0 5% 0 5%;
  display: flex;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Titulo categorias */
.titulo-categorias {
  display: flex;
  margin: 0 5% 0 5%;
  padding: 5px;
}
.titulo-categorias h4 {
  width: 20%;
}

/* Carousell products small*/
.ofertas-populares {
  display: flex;
  background-color: white;
  margin: 0 5% 0 5%;
  flex-wrap: wrap;
}

.ofertas-populares img {
  width: 100%;
}

.ofertas-populares article {
  margin: 2px;
  padding: 2px;
  width: 100%;
  flex-wrap: wrap;
}

.precio-producto {
  font-weight: bold;
  font-size: larger;
}

.precio-rebaja {
  text-decoration: line-through;
  font-size: small;
}

.porcentaje-descuento {
  display: table-cell;
  background-color: #916bbf;
  color: white;
  padding: 2px;
}

.caja-precio {
  display: flex;
  font-size: small;
  text-align: left;
}

.moneda {
  margin-left: 2px;
  margin-right: 4px;
}

.caja-rebaja {
  display: flex;
  font-size: smaller;
  text-align: left;
}

.caja-rebaja sup {
  font-size: xx-small;
}

/* Register */

.general-container {
  text-align: center;
  background-color: #001233;
}

.register {
  display: inline-block;
  flex-direction: column;
  width: 80vw;
  margin: 5% 10% 5% 10%;
  border: solid 1px #E5E5E5;
  border-radius: 15px;
  max-width: 500px;
  color: #E5E5E5;
}

i.fas.fa-user-circle {
  font-size: 50px;
  color: #E5E5E5;
  text-align: center;
  padding: 15px;
}

.texto-de-registro {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  padding: 10px;
}

.signup-buttons-container {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 25% 5px 25%;
  color: #E5E5E5;
  padding: 5px;
  font-size: 2rem;
}

i.fab.fa-facebook {
  display: block;
}

i.fab.fa-google {
  display: block;
}

i.fab.fa-apple {
  display: block;
  transform: scaleY(1,1);
}

.signup-buttons-container i:hover{
  color: #7B2CBF;
  cursor: pointer;
}

.registro-manual {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 5% 10% 5% 10%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 600;
}

#username, #email, #password, #confirm-password {
  border-radius: 6px;
  padding: 6px;
  width: 80%;
  border: solid 1px #1C0C5B;
  margin: 6px 0px 6px 0px;
}

#submit {
  display: flex;
  width: 50%;
  padding: 10px;
  margin: 5% 25%;
  justify-content: center;
  background-color: #9D4EDD;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
}

#submit input:hover {
  color: #002466;
  cursor: pointer;
}

/* Media queries */

@media (min-width: 900px) {
  .dot {
    display: none;
  }
  .ofertas-populares{
    flex-wrap: nowrap;
  }
  .ofertas-populares article {
    width: 100%;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*HEADER*/

@media (min-width: 1024px) {
  .nav-bar {
    display: flex;
  }
  .logo {
    display: flex;
    justify-content: flex-start;
  }
  .buscador {
    width: 33%;
    justify-content: center;
    padding-right: 70px;
  }
  .buscador input {
    width: 40vw;
  }
}

/*
#C996CC
#1C0C5B
#3D2C8D
#916BBF
*/


/* Carrito de compras */


main.product-cart{
  color: white;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
  min-height: 100vh;
}

.tu-carrito{
  padding: 18px 0;
}

.lista-de-productos{
  margin-bottom: 20px;
}

.producto-unidad {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: #3D2C8D;
  min-height: 100px;
  border-bottom: solid 1px;
  padding: 10px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.bloque-medio{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.descripcion-precio{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  align-content: stretch;
  width: 50px;
}

.contador{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30%;
}

.boton-contador{
  background-color: #3f51b5;
  border: none;
  color: white;
  padding: 1px 5px;
  font-size: 16px;
  cursor: pointer;
}

.contador-numero{
  background-color: white;
    font-size: 18px;
    color: black;
    padding: 0 5px;
}

.trash {
  width: 20px;
  color: #FFFF;

}

.img-producto{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.imagen-de-producto{
  max-width: 120px;
  max-height: 100px;
  margin-right: 20px;
}

.checkout{
  padding: 10px 10px;;
  background-color: #3D2C8D;
  border-bottom: solid 1px;
  border-radius: 5px;
}


.titulo-resumen{
  padding-bottom: 20px;
  font-size: 18px;
}

.total-resumen{
  margin-bottom: 20px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px;
}

.subtotal-resumen{
  margin-bottom: 20px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px;
}

.boton-resumen{
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 15px;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
}

.boton-compra{
  background-color: white;
  margin-bottom: 15px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

.boton-sigue{
  color:white;
  margin-bottom: 15px;
  background-color: #3D2C8D;
  border: none;
  cursor: pointer;
}

@media (min-width: 520px) {

  .bloque{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .bloque-de-productos{
    flex-grow: 0.60;
  }

  .checkout{
    flex-grow: 0.25;
  }
}

@media (min-width:769px){

  .bloque-de-productos{
    flex-grow: 0.65;
  }

  .checkout{
    flex-grow: 0.30;
  } 
}

/*productDetail*/

/*Section 1*/

.main-info{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.main-info h1{
  width: 100%;
  margin-top: 10px;
}
.rating{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 10px 0px;
}
.DP-imagen{
  display: flex;
  justify-content: center;
}
.DP-imagen img{
  width: 70%;
  margin: 10px 0px;
  border: 5px solid #916BBF;
  border-radius: 4px;
}
.mas-imagenes{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #3D2C8D;
}
.mas-imagenes img{
  width: 23%;
  margin: 10px 3px;
}
/*section 2*/

.precio-compra-agregar{
  display: flex;
  justify-content: space-around;

}
.precio-compra-agregar h2, button{
  margin: 5px 5px;
}

.precio-compra-agregar #carrito{
  width: 10%;
}
.precio-compra-agregar #comprar{
  width: 25%;
}
/*section 3*/

.detailed-info{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.detailed-info p{
  text-align: center;
  background-color: #3D2C8D;
  width: 95vw;
}

.detailed-info h3{
  background-color: #3D2C8D;
}
