<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head') %>

<body>

  <%- include('./partials/header') %>

  <main>
    <div class="general-container">
    <div class="register">
      <i class="fas fa-user-circle"></i>
      <h2 class="texto-de-registro">Cambio de contraseña</h2>
      <h4 class="registro-manual"></h4>
        <div class="register-form">
          <form action="/user/edit/password/<%= id %>?_method=PATCH" method="POST" >
            <label for="password">Ingresa tu contraseña actual</label>
            <input class="change-password-input" type="password" id="oldpassword" name="oldpassword">
            <label for="password">Ingresa tu nueva contraseña</label>
            <input class="change-password-input" type="password" id="newpassword" name="newpassword">
            <label for="confirm-password">Confirma tu contraseña</label>
            <input class="change-password-input" type="password" id="confirmpassword" name="confirmpassword" required>
            <input type="submit" id="submit" value="Guardar cambios">
            <div class="back-button">
              
              <p><a href="/user/profile">Mejor más tarde</a></p>
            </div>
          </form>
        </div>
    </div>
    </div>
  </main>

  <%- include('./partials/footer') %>
  <script src="/js/changePassword.js"></script>
  </body>
</html>