<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>

    <div class="context">
      <h1>Pagina no encontrada</h1>
    </div>


<div class="area" >

          <ul class="circles">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  
                  <a href="/">
                    <button class="back-button-404">Volver a la Página Principal</button>
                  </a>
          </ul>

  </div >
  </body>
</html>

