<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
<body>

  <%- include('./partials/header') %>

  <main class='product-cart'>
    <h1 class='tu-carrito'>
      Tu carrito
    </h1>
    <div class="bloque">
    <section class="bloque-de-productos">
      <div class='lista-de-productos'>
        <article class='producto-unidad'>
          <div class='img-producto'>
            <img src='img/img1.jpeg' alt='imagen de producto' class='imagen-de-producto'>
            <div class="bloque-medio">
              <span>Nombre de producto</span>
              <div class="contador">
                <button class="boton-contador">-</button>
                <div class="contador-numero">
                  0
                </div>
                <button class="boton-contador">+</button>
              </div>
            </div>
          </div>
            <div class='descripcion-precio'>
              <i class="fa-solid fa-trash"></i>
              <p>Precio $0.333333</p>
            </div>
        </article>
        <article class='producto-unidad'>
          <div class='img-producto'>
            <img src='img/img2.jpg' alt='imagen de producto' class='imagen-de-producto'>
            <div class="bloque-medio">
              <span>Nombre de producto</span>
              <div class="contador">
                <button class="boton-contador">-</button>
                <div class="contador-numero">
                  0
                </div>
                <button class="boton-contador">+</button>
              </div>
            </div>
          </div>
            <div class='descripcion-precio'>
              <i class="fa-solid fa-trash"></i>
              <p>Precio $0.333333</p>
            </div>
        </article>
        <article class='producto-unidad'>
          <div class='img-producto'>
            <img src='img/img1.jpeg' alt='imagen de producto' class='imagen-de-producto'>
            <div class="bloque-medio">
              <span>Nombre de producto</span>
              <div class="contador">
                <button class="boton-contador">-</button>
                <div class="contador-numero">
                  0
                </div>
                <button class="boton-contador">+</button>
              </div>
            </div>
          </div>
            <div class='descripcion-precio'>
              <i class="fa-solid fa-trash"></i>
              <p>Precio $0.333333</p>
            </div>
        </article>
      </div>
    </section>
    <article class="checkout">
      <div class="contenido-checkout">
        <div class="titulo-resumen">
          <span>Resumen de compra</span>
        </div>
        <div class="subtotal-resumen">
          <p>Subtotal</p>
          <p>$0.999999</p>
        </div>
        <div class="total-resumen">
          <p>Total</p>
          <p>$0.888889</p>
        </div>
        <div class="boton-resumen">
        <button class="boton-compra">COMPRAR</button>
        <button class="boton-sigue">SEGUIR COMPRANDO</button>
        </div>
      </div>
    </div>
    </article>
    
  </main>

  <%- include('./partials/footer') %>
  
</body> 
</html>