<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <h1>Nombre de Usuario</h1>
    <h2>email de usuario</h2>
    <figure>
      <img src="" alt="Foto de perfil del usuario">
    </figure>
    <h3>Biblioteca</h3>
    <section>
      <article>
        <img src="" alt="Foto de producto en Biblioteca">
        <h4>Nombre de Producto</h4>
      </article>
    </section>
    <h3>Comentarios</h3>
    <section>
      <article>
        <h4>Nombre de Usuario</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat placeat optio accusantium necessitatibus ipsa vitae vero architecto magnam excepturi exercitationem.</p>
      </article>
    </section>
  </body>
</html>