<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

    <main>
      <div class="general-container">
        <div class="register">
          <h1>Registro Exitoso</h1>
          <a href="/login">
            <button>Iniciar Sesión</button>


          </div>

          </a>
          </div>
        </div>
      </div>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
