<footer>
  <h6 class="contacts">
    <a href="" target="_blank"><i class="fab fa-instagram-square"></i></a>
  </h6>
  <h6 class="contacts">
    <a href="" target="_blank"><i class="fab fa-facebook-square"></i></a>
  </h6>
  <h6 class="contacts">
    <a href="" target="_blank"><i class="fab fa-whatsapp-square"></i></a>
  </h6>
  <h6 class="contacts">
    <a href="" target="_blank"><i class="fab fa-twitter-square"></i></a>
  </h6>
  <h6 class="contacts">
    <a href="" target="_blank"><i class="fas fa-envelope-square"></i></a>
  </h6>
  <h6 class="contacts"><a href="" target="_blank">About Us.</a></h6>
</footer>
