<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GreenGames</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/admin.css" />
  <!---- SliderX ---->
  <link rel="stylesheet" href="css/flexslider.css" />
  <link rel="stylesheet" href="css/font-awesome.css" />
  <script src="js/jquery-3.1.0.min.js"></script>
  <script src="js/jquery.flexslider.js"></script>
  <script src="js/sliderX.js"></script>
  <!---- SliderX ---->
  <script
    src="https://kit.fontawesome.com/15102d2fd3.js"
    crossorigin="anonymous"
  ></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
    rel="stylesheet"
  />
</head>
