<header>
    <div class="logo">
      <a href="/"><h1>GREENGAMES</h1></a>
    </div>
    <div class="buscador">
      <form action="/result" method="GET">
        <input type="text" placeholder="Buscar..." />
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <nav class="nav-bar">
      <ul class="bar">
        <li class="browsing"><a href="/register"><i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
        <li class="browsing"><a href="/productcart"><i class="fa-solid fa-cart-shopping"></i></a></li>
        <li class="browsing"><a href="/login"><i class="fa-solid fa-user"></i></a></li>
      </ul>
    </nav>
    <nav class="sub-nav">
      <ul>
        <li><a href="">Explorar</a></li>
        <li><a href="">Ofertas</a></li>
        <li><a href="">Categorías</a></li>
        <li><a href="">Ayuda y Soporte</a></li>
      </ul>
    </nav>
    <nav class="burguer">
      <ul>
        <li><a href=""><i class="fa-solid fa-bars"></i></a></i></li>
        <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
      </ul>
    </nav>
  </header>