<section class="ofertas-populares">
    <article>
      <img src="/img/jedi-card.jpeg" alt="warhammer" />
      <p class="titulo-producto">Warhammer III</p>
      
      
      <div class="caja-precio">
        <p class="precio-producto">$800</p>
        <sup class="moneda">ARS</sup>
      </div>
      <div class="box-card">
        <div class="caja-rebaja">
          <p class="precio-rebaja">$1000</p>
          <sup class="moneda">ARS</sup>
          <span class="porcentaje-descuento">-20%</span>
        </div>
        <div class="card-shop"><i class="fa-solid fa-cart-shopping"></i></div>
      </div>
    </article>

    <article>
      <img src="/img/jedi-card.jpeg" alt="warhammer" />
      <p class="titulo-producto">Warhammer III</p>
      <div class="caja-precio">
        <p class="precio-producto">$800</p>
        <sup class="moneda">ARS</sup>
      </div>
      <div class="caja-rebaja">
        <p class="precio-rebaja">$1000</p>
        <sup class="moneda">ARS</sup>
        <span class="porcentaje-descuento">-20%</span>
      </div>
    </article>

    <article>
      <img src="/img/jedi-card.jpeg" alt="warhammer" />
      <p class="titulo-producto">Warhammer III</p>
      <div class="caja-precio">
        <p class="precio-producto">$800</p>
        <sup class="moneda">ARS</sup>
      </div>
      <div class="caja-rebaja">
        <p class="precio-rebaja">$1000</p>
        <sup class="moneda">ARS</sup>
        <span class="porcentaje-descuento">-20%</span>
      </div>
    </article>

    <article>
      <img src="/img/jedi-card.jpeg" alt="warhammer" />
      <p class="titulo-producto">Warhammer III</p>
      <div class="caja-precio">
        <p class="precio-producto">$800</p>
        <sup class="moneda">ARS</sup>
      </div>
      <div class="caja-rebaja">
        <p class="precio-rebaja">$1000</p>
        <sup class="moneda">ARS</sup>
        <span class="porcentaje-descuento">-20%</span>
      </div>
    </article>
    <a class="prev-cat" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next-cat" onclick="plusSlides(1)">&#10095;</a>
  </section>