	<div class="flexslider">
		<section class="seccion-bienvenida">
			<div class="portada-bienvenida">
			  <h1 class="mensaje-bienvenida">¡No creerás lo que se viene!</h1>
			</div>
		  </section>
		<ul class="slides">

			<li>
				<img src="img/slide1.jpg" alt="Elden Ring">
			</li>

			<li>
				<img src="img/slide2.jpg" alt="Warhammer">
			</li>

			<li>
				<img src="img/slide3.jpg" alt="Wonderlands">
				</section>
			</li>

            <li>
				<img src="img/slide4.jpg" alt="Ghostwire">
			</li>

		</ul>
	</div>
